<style>
    body{
        background-color: #dcd8d8;
    }
</style>

<div class="h-100  d-flex align-items-center justify-content-center">
    <div class="w-25">
        <div class="text-center mb-4" ><span style="font-size: 60px;" >ورود</span></div>
        <form method="post" action="./register" class="shadow rounded border p-3 bg-light">
            <div class="mb-3">
                <label for="emailInput" class="form-label">ایمیل</label>
                <input type="email" name="email" class="form-control" id="emailInput">
              </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">رمز عبور</label>
              <input type="password" name="password" class="form-control" id="passwordInput">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
            </div>
            <button type="submit" class="btn btn-primary">ثبت نام</button>
        </form>
    </div>
</div>
